<!DOCTYPE html>
<html lang="de">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="I found some bananas in Brooklyn.">
    <meta name="author" content="maerch">

    <title>bananas in brooklyn</title>
    <link rel="shortcut icon" href="/favicon.ico" >

    <link rel="stylesheet" type="text/css" href="/css/normalize.css">
    <link rel="stylesheet" type="text/css" href="/css/style.css">
    <link rel="stylesheet" type="text/css" href="/css/syntax.css">


    <link rel="alternate" type="application/rss+xml" title="{{ site.name }}" href="feed.xml">
  </head> 
  
  <body>

  <div id="links">
    <a href="https://github.com/maerch"><img src="/img/github.gif" /></a>
    <a href="https://twitter.com/maerch"><img src="/img/twitter.gif" /></a>
    <a href="/feed.xml"><img src="/img/rss.gif" /></a>
    <!--a href="/about.html"><img src="/img/info.gif" /></a-->
  </div>

  <header id="header">
    <h1><a href="/">Bananas in Brooklyn</a></h1>
  </header>      

  <div class="content">
    {{ content }}
  </div>

  </body>
</html>
